:root {
    --first: rgb(196, 48, 43);
    --second: rgb(0, 0, 0);
}

.my-100 {
    margin-top: 100px;
    margin-bottom: 100px;
}

body {
    background-color: var(--second);
}

.bg-navbar {
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

* {
    font-family: "Inter", sans-serif;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--first);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(162, 39, 35);
}

/* sezione navbar */
.btn-more {
    cursor: pointer;
    background-color: var(--first);
    transition: background-color 250ms;
}

.btn-more:hover {
    background-color: rgb(162, 39, 35);
}

.nav-item {
    transition: background-color 250ms;
}

.nav-item:hover {
    background-color: var(--first);
}
.active {
    background-color: var(--first);
}

.scrolled {
    background-color: var(--second);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* modal */
.modal-content-bg {
    background: url(/public/media/modal-bg.png);
    background-position: 50% 0;
    background-repeat: no-repeat;
    overflow: hidden;
}

.modal-body-content {
    position: relative;
    bottom: 90px;
}

.modal-text {
    position: sticky;
    font-family: "poppins", sans-serif;
    color: transparent;
    -webkit-text-stroke: 3px white;
    font-size: 95px;
    transition: all 250ms;
}

.modal-text:hover {
    position: relative;
    font-size: 100px;
    -webkit-text-stroke: 3px var(--first);
    color: var(--first);
}

/* hero section */

.hero-bg {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    height: 100%;
    width: 100%;
    padding: 20px;
    z-index: 1;
}

.hero-intro {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.hero-text {
    font-size: 70px;
    font-weight: 900;
}

.quote-text {
    font-size: 60px;
    font-weight: 450;
}

@media only screen and (max-width: 768px) {
    .quote-text {
        font-size: 35px;
        font-weight: 450;
    }
}

.quote-img {
    width: 90%;
    aspect-ratio: 1;
}

.rounded-border {
    border-radius: 30px;
}

/* sezione offerte */

.pricing-card {
    background-color: var(--second);
    cursor: pointer;
    transition: 0.3s linear;
    max-width: 400px;
    border-radius: 32px;
    border: 2px solid var(--first);
    transition: transform 0.2s;
    max-width: 300px;
}

.pricing-card:hover {
    transform: scale(1.2);
}

.pricing-card-header {
    background-color: var(--first);
    display: inline-block;
    color: #fff;
    padding: 12px 30px;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.3s linear;
}

.pricing-card:hover .pricing-card-header {
    box-shadow: 0 0 0 9em var(--first);
}

.price {
    font-size: 70px;
    color: var(--first);
    transition: 0.2s linear;
}

.price sup,
.price span {
    font-size: 22px;
    font-weight: 700;
}

.pricing-card:hover,
.pricing-card:hover .price {
    color: #fff;
}

/* sezione login */
.container-login {
    background: url(/public/media/3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.user-icon {
    left: 10px;
    top: 5px;
    font-size: 50px;
}

.login-input,
.login-input:focus,
.login-input:-webkit-autofill,
.login-input:-webkit-autofill:hover,
.login-input:-webkit-autofill:focus,
.login-input:-webkit-autofill:active {
    position: absolute !important;
    padding: 20px 0px 20px 80px;
    border-radius: 32px !important;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    box-shadow: none;
    -webkit-text-fill-color: rgb(255, 255, 255);
    transition: background-color 5000s ease-in-out 0s;
}

.input-group {
    margin-bottom: 35px;
}

.form-login {
    margin-top: 200px;
    width: 40%;
}
.login-btn {
    background-color: var(--first);
    color: #fff;
    width: 100% !important;
    border-radius: 32px;
}
.login-btn:hover {
    background-color: rgb(162, 39, 35);
}
@media only screen and (max-width: 1200px) {
    .form-login {
        width: 60%;
    }
}
@media only screen and (max-width: 768px) {
    .form-login {
        width: 100%;
    }
}

/* register-section */
.register-bg {
    background-color: rgba(0, 0, 0, 0.503);
}

.register-input,
.register-input:focus,
.register-input:-webkit-autofill,
.register-input:-webkit-autofill:hover,
.register-input:-webkit-autofill:focus,
.register-input:-webkit-autofill:active {
    border: none;
    border-bottom: 4px solid var(--first) !important;
    border-radius: 0px;
    box-shadow: none;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: rgb(255, 255, 255);
}

/*Footer*/

.footer {
    background-color: var(--first);
}

.social_icon a {
    transition: 0.5s;
}

.social_icon a:hover {
    transform: translateY(-10px);
}

.menuF a:hover {
    opacity: 1 !important;
}

.onda {
    top: -100px;
    height: 100px;
    background: url(/public/media/wave.png);
    background-size: 1000px 100px;
}

.onda#ondaUno {
    z-index: 5;
    animation: animateWave 4s linear infinite;
}

.onda#ondaDue {
    z-index: 4;
    bottom: 10px;
    animation: animateWave02 4s linear infinite;
}

.onda#ondaTre {
    z-index: 5;
    bottom: 15;
    animation: animateWave 3s linear infinite;
}

.onda#ondaQuattro {
    z-index: 4;
    bottom: 20px;
    animation: animateWave02 3s linear infinite;
}

@keyframes animateWave {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0px;
    }
}

@keyframes animateWave02 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1000px;
    }
}
