:root {
    --first: #c4302b;
    --second: rgb(0, 0, 0);
}

.bg-navbar {
    background-color: rgba(0, 0, 0, 0.5);
}

* {
    font-family: "Inter", sans-serif;
}

.btn-more {
    background-color: var(--first);
    transition: background-color 250ms;
}

.btn-more:hover {
    background-color: rgb(162, 39, 35);
}

.nav-item {
    transition: background-color 250ms;
}

.nav-item:hover {
    background-color: var(--first);
}

/* modal */
.modal-left {
    background: rgb(196, 48, 43);
    background: radial-gradient(
        circle,
        rgba(196, 48, 43, 1) 36%,
        rgba(138, 35, 31, 1) 100%
    );
}

.modal-right {
    background: rgb(10, 10, 10);
    background: radial-gradient(
        circle,
        rgba(10, 10, 10, 1) 36%,
        rgba(0, 0, 0, 1) 100%
    );
}

.btn-modal-left {
    position: relative;
    top: 70px;
    background-color: var(--second);
    color: white;
}

.btn-modal-left:hover {
    background-color: rgb(18, 18, 18);
    color: white !important;
}

.btn-modal-right {
    position: relative;
    top: 70px;
    background-color: var(--first) !important;
}

.btn-modal-right:hover {
    background-color: rgb(162, 39, 35) !important;
}

/* hero section */

.hero-bg {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    height: 100%;
    width: 100%;
    padding: 20px;
    z-index: 4;
}

.hero-intro {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.hero-text {
    font-size: 70px;
    font-weight: 900;
}
