:root {
    --first: rgb(196, 48, 43);
    --second: rgb(0, 0, 0);
}

.bg-navbar {
    background-color: rgba(0, 0, 0, 0.5);
}

/* body {
    background-color: rgb(0, 0, 0);
} */

* {
    font-family: "Inter", sans-serif;
}

.btn-more {
    background-color: var(--first);
    transition: background-color 250ms;
}

.btn-more:hover {
    background-color: rgb(162, 39, 35);
}

.nav-item {
    transition: background-color 250ms;
}

.nav-item:hover {
    background-color: var(--first);
}

/* hero section */

.hero-bg {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    height: 100%;
    width: 100%;
    padding: 20px;
    z-index: 4;
}

.hero-intro {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.hero-text {
    font-size: 70px;
    font-weight: 900;
}
