/*BaseStyle*/
body{font-family: 'Inter', sans-serif; font-size: 16px; background: #000000;}

a{text-decoration: none;}

h1,h2,h3,h4,h5,h6,p{
    color: #000000;
    padding-bottom: 30px;
}

p{line-height: 28px; color: #666; font-weight: 300;}

.big-text{
    font-size: 70px;
    font-weight: 900;
}

.bm-text{
    font-size: 60px;
    font-weight: 450;
}

.med-text{
    font-size: 40px;
}

.normal-text{
    font-size: 20px;
}

.intro-text{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.small-text{
    font-size: 14px;
}




.button{
    padding: 15px 28px;
    background: rgb(196, 48, 43); color: #ffff; display: inline-block; border-radius: 4px;
}

@media (max-width: 768px){
    
    .big-text{
        font-size: 40px;
    }
}

/*Helpers*/
.mt-1{margin-top: 50px;}
.mt-2{margin-top: 100px;}
.mt-3{margin-top: 150px;}
.mt-f{margin-top: 200px;}
.tw{color:#fff}
.tr{color:rgb(196, 48, 43)}

/*Header*/
.header{
    width: 100%;
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    padding: 30px;
    display: flex;
    background: rgba(0,0,0,.2);
    max-width: 1350px;
    z-index: 2;
}

.logo{
 z-index: 1;
}

#logoImg{
    width: 250px;
    height: 50px;
}

.menu{
    z-index: 0;
    width: 100%;
}

.menu li{display: inline-block}
.menu li a{color: white; padding: 15px; display: block}
.menu li a:hover{background-color: rgb(196, 48, 43); border-radius: 6px;}
.hamburger{display: none;}




@media (max-width: 768px){

    .cta{display: none}
    .menu{position: absolute; top: 0; right: -100%; background: black; height: 100vh; padding-top: 80px;}
    .menu li{display: block}
    .menu--open{right: 0%;}
    .hamburger{display: block;    
          width: 30px;
        height:30px;
        position: absolute;
        top: 40px;
        right: 30px;}
    .hamburger span{background: #fff; height: 3px; width: 100%; display: block; margin-bottom: 5px;}
    .menu li{display: block}
    .menu li{padding: 15px 30px; font-size: 20px;}
    .menu li a{
        padding: 15px 30px;
        font-size: 20;
    }
}



/* Hero */
.hero{  
    position: relative;
    height: 100vh;
    display: flex; width: 100%; align-items: center;
}

.hero::after{
    content: ' ';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #000000;
    opacity: 0.5;
}


.hero_content{
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    padding: 30px;
    z-index: 1;
    position: relative;
}

.hero_content h1,
.hero p{color: #fff;}

.hero_content a:hover{
        padding: 18px 30px;
        transition-duration: 0.5s;
}

#video-back{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 0;
    min-width: 100%; 
    height: 100%;
  
}


/*temporale*/
.temporale{
    display: flex;
    height: 50vh;
    width: 100%;
    align-items: center;
    opacity: 0.5;
    background-color: rgb(196, 48, 43);
}

.temporale:hover{
    
    opacity: 1;
}


/*Poster*/

.poster{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
}

.poster_img{
    width: 50%;
    height: 80%;
}

.poster_img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.poster_content{
    width: 50%;
    padding: 50px;

}

@media(max-width:768px){
    .poster{
        flex-wrap: wrap;
        height: auto;
    }
    .poster img,
    .poster_content{width: 100%;}
}



/*provaC*/

.provaC_titolo{
    position: relative;
    text-align: center;
    width: 100%;
    height: 10vh;
}

.provaC{
    display: flex;
    height: 50vh;
    width: 100%;
    align-items: center;
}



/*vai a card sotto mappa per il continuo*/






/*bg cover*/

.bg-cover{
    display: flex;
    padding: 100px 0;
    background: linear-gradient(0deg, rgba(0,0,0,.7), rgba(0,0,0,0.7)),
    url('Progetto\ senza\ titolo\ \(2\)\ copia.png'), no-repeat center center;
    background-size: cover;
}

.bg-cover_text{
    width: 50%;
    padding: 30px;
}

.bg-cover_title{
    width: 50%;
    padding: 50px;
    display: flex;
    align-items: center;
}

@media(max-width:728px){
    .bg-cover{flex-wrap: wrap; height: auto;}
    .bg-cover_text,
    .bg-cover_title{width: 100%; padding: 50px; display: flex; align-items: center; }
}


/*mappa*/

.mappa{
    display: flex;
    height: 70vh;
    width: 100%;
    align-items: center;
}

.mappa_testo{
    width: 40%;
    padding: 30px;
}

.mappa_testo h4{
    margin-top: -30px;
}

.mappa_testo img{
    width: 40%;
    height: 20%;
    margin-left: 25%;
}

.mappa_mappa{
    width: 60%;
    height: 100%;
}

.mappa_mappa iframe{
    object-fit: cover;
    width: 90%;
    height: 100%;
}










.cardUno{
    margin-top: 5%;
    margin-left: 8.5%;
    width: 250px;
    height: 320px;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.2);
}

.cardDue{
    margin-top: 5%;
    margin-left: 30.5%;
    width: 250px;
    height: 320px;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.2);
}

.cardTre{
    margin-top: 5%;
    margin-left: 52.5%;
    width: 250px;
    height: 320px;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.2);
}

.cardQuattro{
    margin-top: 5%;
    margin-left: 74.5%;
    width: 250px;
    height: 320px;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.2);
}




.cardUno:hover{
    transform: rotateY(180deg);
}

.cardDue:hover{
    transform: rotateY(180deg);
}

.cardTre:hover{
    transform: rotateY(180deg);
}

.cardQuattro:hover{
    transform: rotateY(180deg);
}

.fCard{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: url('img/imgAss.jpeg');
    background-size: cover;
    border-radius:30pt;
    border: 3pt solid rgb(196, 48, 43);
}

.rCard{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: url('img/imgUno.jpeg');
    background-size: 100% auto;
    transform: rotateY(180deg);
    border-radius: 6pt;
}



.fCardDue{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: url('img/imgAss.jpeg');
    background-size: cover;
    border-radius: 30pt;
    border: 3pt solid rgb(196, 48, 43);
}

.rCardDue{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: url('img/imgDue.jpeg');
    background-size: 100% auto;
    transform: rotateY(180deg);
    border-radius: 6pt;
}


.fCardTre{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: url('img/imgAss.jpeg');
    background-size: cover;
    border-radius: 30pt;
    border: 3pt solid rgb(196, 48, 43);
}

.rCardTre{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: url('img/imgTre.jpeg');
    background-size: 100% auto;
    transform: rotateY(180deg);
    border-radius: 6pt;
}

.fCardQuattro{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: url('img/imgAss.jpeg');
    background-size: cover;
    border-radius: 30pt;
    border: 3pt solid rgb(196, 48, 43);
}

.rCardQuattro{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: url('img/imgQuattro.jpeg');
    background-size: 100% auto;
    transform: rotateY(180deg);
    border-radius: 6pt;
}



/*Footer*/

.footer{
   position: relative;
   width: 100%;
   background-color: rgb(196, 48, 43);
   min-height: 100px;
   padding: 20px 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   flex-direction: column;
}

.social_icon, 
.menuF{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 ;

}

.social_icon li,
.menuF li{
    list-style: none;

}

.social_icon a{
    font-size: 2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.social_icon a:hover{
    transform: translateY(-10px);
}

.menuF a{
    font-size: 1.2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}

.menuF a:hover{
    opacity: 1;
}

.footer p{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

.onda{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(img/wave.png);
    background-size: 1000px 100px;
} 

.onda#ondaUno{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite; 
}

.onda#ondaDue{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave02 4s linear infinite; 
}

.onda#ondaTre{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15;
    animation: animateWave 3s linear infinite; 
}

.onda#ondaQuattro{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave02 3s linear infinite; 
}

@keyframes animateWave
{
    0%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
}

@keyframes animateWave02
{
    0%
    {
        background-position-x: 0px;
    }
    100%
    {
        background-position-x: 1000px;
    }
}


*,
*::before,
*::after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}